.device {
    height: 27px;
    line-height: 27px;
    position: relative;

    &.on {
        .icon {
            opacity: 1;
        }

        .name {
            opacity: 1;
        }

        .stateToggle {
            color: #090;
        }
    }

    &.off {
        .icon {
            opacity: 0.5;
        }

        .name {
            opacity: 0.5;
        }

        .stateToggle {
            &:hover {
                color: #777;
            }
        }
    }
}

.icon {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 25px;
    left: 0;
    position: absolute;
    width: 25px;
    transition: opacity 0.25s ease-in-out;
}

.name {
    color: #00acc1;
    left: 35px;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
}

.stateToggle {
    color: #ccc;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    transition: color 0.25s ease-in-out;
}
