@keyframes style--working-spin--JB9TVVW {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.style--discovery--2fTlsj7 {
    color: #00acc1;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.style--discoveringDevices--6HhXZ_R {
    margin: auto;
    padding-bottom: 1.5em;
}

.style--spinnerIcon--29hRqhJ {
    animation: style--working-spin--JB9TVVW infinite 1s linear;
    margin: 0 0.5em 0.1em 0.5em;
    opacity: 0.5;
}
.no-devices-found--container--tHB_UJO {
    color: #ad1457;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.no-devices-found--content--3njV2mx {
    margin: auto;
    padding-bottom: 1.5em;
    position: relative;
}

.no-devices-found--label--1fxgqSU {
    margin-left: -20px;
}

.no-devices-found--tryAgainIcon--zfKEoU8 {
    color: #00acc1;
    cursor: pointer;
    margin: 0 0.5em 0.1em 0.5em;
    opacity: 0.5;
    position: absolute;
    top: -2px;
    transition: opacity 0.25s ease-in-out;
}

.no-devices-found--tryAgainIcon--zfKEoU8:hover {
    opacity: 1;
}
.device--device--2C8tx_L {
    height: 27px;
    line-height: 27px;
    position: relative;
}

.device--device--2C8tx_L.device--on--3I8A0vz .device--icon--BDqZSj9 {
    opacity: 1;
}

.device--device--2C8tx_L.device--on--3I8A0vz .device--name--1NxOcbi {
    opacity: 1;
}

.device--device--2C8tx_L.device--on--3I8A0vz .device--stateToggle--rsYzxwJ {
    color: #090;
}

.device--device--2C8tx_L.device--off--HEPVHuW .device--icon--BDqZSj9 {
    opacity: 0.5;
}

.device--device--2C8tx_L.device--off--HEPVHuW .device--name--1NxOcbi {
    opacity: 0.5;
}

.device--device--2C8tx_L.device--off--HEPVHuW .device--stateToggle--rsYzxwJ:hover {
    color: #777;
}

.device--icon--BDqZSj9 {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 25px;
    left: 0;
    position: absolute;
    width: 25px;
    transition: opacity 0.25s ease-in-out;
}

.device--name--1NxOcbi {
    color: #00acc1;
    left: 35px;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
}

.device--stateToggle--rsYzxwJ {
    color: #ccc;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    transition: color 0.25s ease-in-out;
}
.deviceList--list--26cgHOq {
    cursor: default;
    list-style-type: none;
    margin: 1em;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.style--footer--2OnkF6U {
    background-color: rgba( 0, 0, 0, 0.05 );
    bottom: 0;
    left: 0;
    padding: 0.35em 0.5em;
    position: fixed;
    right: 0;
}

.style--icon--2FUCWcp {
    cursor: pointer;
    float: right;
    margin-left: 5px;
    transition: color 0.25s ease-in-out;
}

.style--quitButton--2hVXRI1 {
    color: #ccc;
}

.style--quitButton--2hVXRI1:hover {
    color: #c00;
}

.style--devtoolsButton--deZNZfC {
    color: #ccc;
}

.style--devtoolsButton--deZNZfC:hover {
    color: #489fdf;
}
body {
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*
footer {
    background-color: rgba( 0, 0, 0, 0.05 );
    bottom: 0;
    height: 1em;
    left: 0;
    line-height: 1em;
    padding: 0.35em 0.5em;
    position: fixed;
    right: 0;
}

footer .icon {
    color: #ccc;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

#devTools-button {
    bottom: 0.35em;
    position: absolute;
    right: 1.75em;
    transition: color 0.25s ease-in-out;
}

#devTools-button:hover {
    color: #489FDF;
}

#quit-button {
    bottom: 0.35em;
    position: absolute;
    right: 0.5em;
    transition: color 0.25s ease-in-out;
}

#quit-button:hover {
    color: #c00;
}

footer .icon.right {
    float: right;
    height: 12px;
}

footer .app-name {
    bottom: 0.4em;
    color: #ccc;
    font-size: 0.75em;
    position: absolute;
}

#root {
    height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0.5em 1em;
}

.discovering-devices {
    color: #ccc;
    margin: 1em 0.5em;
    text-align: center;
}

.discovering-devices .spinner {}

.device {
    height: 25px;
    line-height: 25px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;
}

.device:first-child {
    margin-top: 0;
}

.device:last-child {
    margin-bottom: 0;
}

.device-icon {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 25px;
    left: 0;
    position: absolute;
    width: 25px;
}

.device-name {
    left: 35px;
    position: absolute;
}

.device-stateToggle {
    position: absolute;
    right: 0;
    top: 4px;
}

.device-stateToggle i {
    font-size: 1.35em;
    transition: color 0.25s ease-in-out;
}

.device-stateToggle i.fa-toggle-off {
    color: #ccc;
}

.device-stateToggle i.fa-toggle-off:hover {
    color: #777;
}

.device-stateToggle i.fa-toggle-on {
    color: #090;
}
*/

/*# sourceMappingURL=style.css.map*/