body {
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

footer {
    background-color: rgba( 0, 0, 0, 0.05 );
    bottom: 0;
    height: 1em;
    left: 0;
    line-height: 1em;
    padding: 0.35em 0.5em;
    position: fixed;
    right: 0;
}

footer .icon {
    color: #ccc;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

#devTools-button {
    bottom: 0.35em;
    position: absolute;
    right: 1.75em;
    transition: color 0.25s ease-in-out;
}

#devTools-button:hover {
    color: #489FDF;
}

#quit-button {
    bottom: 0.35em;
    position: absolute;
    right: 0.5em;
    transition: color 0.25s ease-in-out;
}

#quit-button:hover {
    color: #c00;
}

footer .icon.right {
    float: right;
    height: 12px;
}

footer .app-name {
    bottom: 0.4em;
    color: #ccc;
    font-size: 0.75em;
    position: absolute;
}

#root {
    height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0.5em 1em;
}

.discovering-devices {
    color: #ccc;
    margin: 1em 0.5em;
    text-align: center;
}

.discovering-devices .spinner {}

.device {
    height: 25px;
    line-height: 25px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;
}

.device:first-child {
    margin-top: 0;
}

.device:last-child {
    margin-bottom: 0;
}

.device-icon {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 25px;
    left: 0;
    position: absolute;
    width: 25px;
}

.device-name {
    left: 35px;
    position: absolute;
}

.device-stateToggle {
    position: absolute;
    right: 0;
    top: 4px;
}

.device-stateToggle i {
    font-size: 1.35em;
    transition: color 0.25s ease-in-out;
}

.device-stateToggle i.fa-toggle-off {
    color: #ccc;
}

.device-stateToggle i.fa-toggle-off:hover {
    color: #777;
}

.device-stateToggle i.fa-toggle-on {
    color: #090;
}
